 .caixa1{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    float:left;
    padding-left: 10cm;
  }
  .caixa2{
    background-color: rgb(30, 210, 96);
    width: 300px;
    height: 300px;
    float:left;
    border-color: #ea1010;
  }
  .contenidor{
    width: 600px;
    height: 600px;
    border:#2e518b 5px dashed;
    padding-top: 10cm;
  }
