 .caixa1{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    float:left;
    padding-left: 10cm;
  }
  .caixa2{
    background-color: rgb(30, 210, 96);
    width: 300px;
    height: 300px;
    float:left;
    border-color: #ea1010;
  }
  .contenidor{
    width: 900px;
    height: 900px;
    border:#2e518b 5px dashed;
    padding-top: 10cm;
  }
  *{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
  nav 
      nav lu{
          display: unset;
      }
      a{
      text-decoration:underline;
      color:inherit;
      font-size:14px;
      } 
      nav li{
      display:inline-block;
      width:10%;
      padding:5px 10px;
      background-color:#5110ea;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      }
      nav li:hover{
      background-color:#fff;
      color:#000;
      }